[swift]
username =
key =
tenant_name =
container_name =
authurl =

[s3]
access_key =
secret_key =
bucket_name =

[ecs_s3]
access_key =
secret_key =
bucket_name =
host =
port =
is_secure =

[ecs_swift]
username =
key =
authurl =
namespace =
bucket_name =
